<!DOCTYPE html>
<html>
  <head>
    <title>Nevermore Compiler</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  {% include 'header.html' %}

  <body>
    <div class="flex items-center min-h-screen px-4 text-center md:px-3">
      <div class="mx-auto space-y-4">
        <h1 class="text-4xl font-bold tracking-tighter sm:text-5xl lg:text-6xl">Welcome to the Iridescent Web</h1>
        <p class="mx-auto max-w-[700px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed dark:text-gray-400">Experience the shimmering beauty of the web with iridescent tones that dance and shift as you scroll.</p>
      </div>
    </div>
  </body>
  {% include 'footer.html' %}
</html>
