<nav class="flex flex-col min-h-[600px] border-b border-gray-200 py-4 lg:col-start-1 lg:border-0 lg:min-h-0 xl:border-0 xl:py-0 dark:border-gray-800">
        <div class="container px-4 md:px-6">
            <div class="space-y-1.5"><a
                    class="flex items-center font-medium text-gray-500 transition-colors hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-300"
                    href="{% url 'docs' %}"><span class="truncate">Introduction</span></a><a
                    class="flex items-center font-medium text-gray-500 transition-colors hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-300"
                    href="{% url 'docs_installation' %}"><span class="truncate">Installation</span></a><a
                    class="flex items-center font-medium text-gray-500 transition-colors hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-300"
                    href="{% url 'docs_starting' %}"><span class="truncate">Starting</span></a><a
                    class="flex items-center font-medium text-gray-500 transition-colors hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-300"
                    href="{% url 'docs_variables' %}"><span class="truncate">Variables</span></a><a
                    class="flex items-center font-medium text-gray-500 transition-colors hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-300"
                    href="{% url 'docs_coditions' %}"><span class="truncate">Coditions</span></a><a
                    class="flex items-center font-medium text-gray-500 transition-colors hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-300"
                    href="{% url 'docs_lopps' %}"><span class="truncate">Loops</span></a><a
                    class="flex items-center font-medium text-gray-500 transition-colors hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-300"
                    href="{% url 'docs_functions' %}"><span class="truncate">Functions</span></a><a
                    class="flex items-center font-medium text-gray-500 transition-colors hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-300"
                    href="#"><span class="truncate">Modules</span></a><a
                    class="flex items-center font-medium text-gray-500 transition-colors hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-300"
                    href="#"><span class="truncate">Examples</span></a></div>
        </div>
    </nav>